
.Color{
  .colorBox{
    width: 5%;
  }
  .colorBox.active{
    width: 30%;
    position: relative;
    text-align: left;
  }
  p{
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    padding: 2vh 5%;
    line-height: 1.4;
  }
  h4{
    position: absolute;
    top: -15%;
    left: 5%;
    letter-spacing: 20px;
    font-size: 24px;
  }

}
