.Home {
  font-family: 'Cabin Sketch', cursive;
  height: calc(100vh - 140px);
  position: relative;
  .palette {
    width: 90%;
    display: flex;
    //padding: 20vh 0;
    margin: auto;
    justify-content: space-between;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .colorBox {
    width: 7%;
    height: 33vh;
  border-radius: 5px;
  cursor: pointer;
}

  h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 10vh;
    //width: 700px;
    padding: 5vh 7%;
    background: rgba(256, 256, 256, 0.5);
    border-radius: 5px;
    transform: translate(-50%, -50%)
  }
  //.link{
  //  font-size: 36px;
  //  //color: #224e63;
  //  margin: 0 30px 0 auto;
  //  cursor: pointer;
  //  user-select: none;
  //  background: #d2e062;
  //  border-radius: 10px;
  //  width: 350px;
  //  padding: 15px 30px;
  //}
}

//
//.Home {
//  height: 100%;
//  width: 100%;
//  left:0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  position: absolute;
//  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
//  background-size: 1800% 1800%;
//
//  -webkit-animation: rainbow 18s ease infinite;
//  -z-animation: rainbow 18s ease infinite;
//  -o-animation: rainbow 18s ease infinite;
//  animation: rainbow 18s ease infinite;}
//
//@-webkit-keyframes rainbow {
//  0%{background-position:0% 82%}
//  50%{background-position:100% 19%}
//  100%{background-position:0% 82%}
//}
//@-moz-keyframes rainbow {
//  0%{background-position:0% 82%}
//  50%{background-position:100% 19%}
//  100%{background-position:0% 82%}
//}
//@-o-keyframes rainbow {
//  0%{background-position:0% 82%}
//  50%{background-position:100% 19%}
//  100%{background-position:0% 82%}
//}
//@keyframes rainbow {
//  0%{background-position:0% 82%}
//  50%{background-position:100% 19%}
//  100%{background-position:0% 82%}
//}
