

header{
  width: 90%;
  margin: auto;
  font-family: 'Cabin Sketch', cursive;
  display: flex;
  justify-content: space-between;
  font-size: 5vh;
  padding: 30px 0;
  letter-spacing: 10px;
  //img{
  //  width: 15%;
  //}
  .left a{
     margin-right: 80px;
  }
  .right a{
    margin-left: 80px;
  }

}