body{

    text-align: center;

}
.clearfix{
    content:'';
    display: table;
    clear: both;
}

//font-family: 'Montserrat', sans-serif;
//font-family: 'Ubuntu', sans-serif;
//font-family: 'Playfair Display', serif;
//font-family: 'Righteous', cursive;
//font-family: 'Signika', sans-serif;
//font-family: 'Hammersmith One', sans-serif;
//font-family: 'Cabin', sans-serif;